{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <meta charset="utf-8">
    <title>Libby's Djangogirls blog example</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        {% if user.is_authenticated %}
          <a class="header__new-link" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
