<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Blog title which will have a catchier name later</h1>
    <div class="post-list">
      {%for post in posts%}
        <div class="entry">
          <a class="entry__link-wrapper" href="">
            <span class="entry__date">published: {{post.published_date}}</span>
            <h2 class="entry__title">{{post.title}}</h2>
            <p class="entry__content">{{post.text|linebreaksbr}}</p>
          </a>
        </div>

      {% endfor %}

    </div>
  </body>
</html>
