<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Blog title which will have a catchier name later</h1>
    <div class="post-list">
      <div class="entry">
        <a class="entry__link-wrapper" href="#">
          <span class="entry__date">published: 14.06.2014, 12:14</span>
          <h2 class="entry__title">This is a title</h2>
          <p class="entry__content">Lorem ipsum</p>
        </a>
      </div>
    </div>
  </body>
</html>
